<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="users"></div>
    <div class="user_button"> Подгрузить еще</div>
        <script type="text/javascript" src="js/methods.js"></script>
        <script type="text/javascript" src="js/moment.js"></script>
        <script type="text/javascript" src="js/init.js"></script>
  </body>
</html>





